.news
{
    width: 1000px;
    margin: 25px auto;
    display: inline-flex;
    background-color: #f1f1f1;
    border-top-left-radius: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 5px;
    align-self: center;
    text-align: justify;
    align-content: center;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
h6
{
    position:relative;
    top: 30px;
    right: -475px;
    margin: 0;
}
.news h2
{
    width: 600px;
    margin: 20px 0 0 0;
    display:block;
    text-align: center;
    font-size: 1.30em;
    color: #d50f1c;
}
.news a:hover h2
{
    text-decoration: underline solid;
}
.news p
{
    margin: 10px 20px;
    text-indent: 2.5em;
    font-size: 1.5em
}
.img_news
{
    width: 400px;
    height: 300px;

    border-top-left-radius: 25px;
    border-bottom-left-radius: 5px;
}