.formulario{
    width: 80%;
    padding: 0;
    margin: 50px;
}
.formulario p{
    width: 100%;
    font-size: 1.5em;
}
.field{
    width: 100%;
    margin: 15px 0;
}
.field label, 
.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #d50f1c;
    outline: none;
}
input#nao{
    margin-left: 30px;
}
input,textarea
{
    background-color:#f1f1f1;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}
input[type=submit]:hover
{
    color: #f1f1f1;
    background-color: #d50f1c;
}
input[type=submit]{
    color: #d50f1c;
    display: block;
    background-color: #f1f1f1;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    border: solid 2px #d50f1c;
}
label
{
    margin: 5px;
}